@import url('https://fonts.googleapis.com/css?family=Montserrat');

.memory {
  display: flex;
  flex-wrap: wrap;
  width: calc( 300px + 3.6em);
  margin: auto;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}