.memory > .card {
    position: relative;
    font-size: 2vw;
    margin: 0.1em;
    display: flex;
    cursor: default;
    height: 0px;
    width: calc(100% / 6 - 0.2em);
    padding-top:calc(100% / 6 - 0.2em);
    transition: border-color .3s  ;
    -webkit-transition: border-color .3s  ;
    -moz-transition: border-color .3s  ;
    -ms-transition: border-color .3s  ;
    -o-transition: border-color .3s  ;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    box-sizing: border-box;
    border:0.12em solid silver;
}

  .memory > .card:hover{
    border-color: rgb(255, 127, 144);
  }
  
  .memory > .card.hidden {
    background: silver;
  }
  
  .memory > .card.justMatched,
  .memory > .card.justMismatched {
    border-color: green;
  }
  .memory > .card.justMismatched {
    border-color: red;
  }
  
  .memory > .card.visible {
    cursor: not-allowed;
  }
  
  .memory > .card > .symbol {
    position: absolute;
    margin: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)  ;
    -webkit-transform: translate(-50%,-50%)  ;
    -moz-transform: translate(-50%,-50%)  ;
    -ms-transform: translate(-50%,-50%)  ;
    -o-transform: translate(-50%,-50%)  ;
}


@media (max-width: 480px) {
  .memory > .card {
    font-size: 4vw;
}
  
  
}