.memory > .card {
    position: relative;
    font-size: 2vw;
    outline: 0.12em solid silver;
    margin: 0.2em;
    display: flex;
    cursor: default;
    height: 0px;
    width: calc(100% / 6 - 0.4em);
    padding-top:calc(100% / 6 - 0.4em);
    transition: outline-color .3s  ;
    -webkit-transition: outline-color .3s  ;
    -moz-transition: outline-color .3s  ;
    -ms-transition: outline-color .3s  ;
    -o-transition: outline-color .3s  ;
}

  .memory > .card:hover{
    outline-color: rgb(255, 127, 144);
  }
  
  .memory > .card.hidden {
    background: silver;
  }
  
  .memory > .card.justMatched,
  .memory > .card.justMismatched {
    outline: 0.12em solid green;
  }
  .memory > .card.justMismatched {
    outline-color: red;
  }
  
  .memory > .card.visible {
    cursor: not-allowed;
  }
  
  .memory > .card > .symbol {
    position: absolute;
    margin: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)  ;
    -webkit-transform: translate(-50%,-50%)  ;
    -moz-transform: translate(-50%,-50%)  ;
    -ms-transform: translate(-50%,-50%)  ;
    -o-transform: translate(-50%,-50%)  ;
}