.memory > .guesses {
    font-size: 1.5vw;
    width: calc(100% - 0.4em);
    margin:0.5em 0.2em;
    text-align: right;
    font-weight: bold;

    
  }

  @media (max-width: 480px) {
    .memory > .guesses {
      font-size: 3vw;
  
      
    }
    
    
  }